* {
	box-sizing: border-box;
}

.container {
  margin-top: 4em;
  margin-bottom: 4em;
}

.container1 {
  margin-bottom: 4em;
}

/* --- TopNav.js - Start --- */
.logo {
  margin-left: 50px;
  margin-right: 50px;
  font-family: 'Mogra', cursive;
  font-size: 2.5em;
  color:#FFAD15;
  letter-spacing:0.15em;
}

p.content {
  margin-left: 12.5em;
}

p.content a {
  margin-right:2.25em;
  font-family: 'Mogra', cursive;
  font-size: 2em;
  color:#FFAD15;
}

/*p.content a:hover {
    color: red;
}*/

.icons {
  margin-right: 50px;
}

/* --- Home.js - Start --- */
.medium {
  font-family: 'Raleway', sans-serif;
  color:#000000;
  font-size: 1.25em;
  line-height: 150%;
}

/* --- TableOfContents.js - Start --- */
.toc {
  font-family: 'Mogra', cursive;
  font-size: 2em;
  color:#FFAD15;
  letter-spacing:0.05em;
}

.toc1 a {
  font-family: 'Raleway', sans-serif;
  font-size: 1.75em;
  color:#2185D0;
  letter-spacing:0.05em;
  margin-left:25px;
}

.toc2 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.75em;
  color:#2185D0;
  letter-spacing:0.05em;
}

/* --- Footer.js - Start --- */
.footer-text {
  font-family: 'Amiko', sans-serif;
  font-size: 1.5em;
  color: white;
  letter-spacing:0.15em;
  margin-top: -20px;
  margin-bottom: -20px;
}

/* --- Quotebox.js - Start --- */
.content {
  width: 20em;
  margin: 0 auto;
  margin-top: 0em;
}

.text-quotes blockquote {
    position: relative;
    margin: 0;
    padding: 8px 0 18px 0;
    text-indent: 36px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.25em;
    line-height: 24px;
    color: #000;
}

.text-quotes blockquote:before,
.text-quotes blockquote:after {
    position: absolute;
    font-family: "Times New Roman", serif;
    font-size: 60px;
    line-height: 26px;
    color: #7ad;
}

.text-quotes blockquote:before {
    content: '\201C';   /* Left double quote */
    left: -36px;
    top: 8px;
}

.text-quotes blockquote:after {
    content: '\201D';     /* Right double quote */ 
    right: 0px;
    bottom: -13px;
} 

.cite {
  font-family: 'Amiko', sans-serif;
  font-size: 1.5em;
  color:#2185D0;
  letter-spacing:0em;
}