* {
	box-sizing: border-box;
}

.container {
  margin-top: 3em;
}

.x {
  margin-top:2em;
}

/* --- TopNav.js - Start --- */

.top-nav {
  border-bottom: thick solid #ff0000;
}

.top-logo {
	display: inline-block;
	margin-left: 5em;
}

.logo {
	margin-left: 150px;
}

.top-slogan {
  display: inline-block;
  margin-left: 9em;
  margin-top:-5em;
}

p.content a {
  margin-right:75px;
}

.icons {
  margin-right: 150px;
}

.footer-text{
  margin-top: -25px;
  margin-bottom: 15px;
}
/* --- TopNavLists.js - Start --- */

.top-nav-bar {
  float: left;
}

.top-nav-bar, .top-nav-social {
	list-style-type: none;
	display: inline-flex;
}

.top-nav-bar {
	margin-top: 2em;
	margin-left: 15em;
}

.top-nav-social {
	margin-left: 20em;
}

.bottom-bar {
  background: #191919;
  color: #fff;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  position:relative;
  text-align: center;
  font-size: .8em;
  text-transform: uppercase;
  background: #000;
  padding: 15px 0;
}

/* --- Home.js - Start --- */

/*.home-header-container {
  margin-top: 2em;
  margin-bottom: 2em;
}

.header-container {
    display: inline-block;
    width: 350px;
    margin-right: 0px;
}

.header-container img {
    width: 350px;
    margin-left: 11em;
}

.home-text-vid {
    display: inline-block;
    width: 800px;
    vertical-align: top;
    margin-left:13em;
}

.home-text-vid .paragraph {
    text-align: justify;
}

.home-header-text-vid {
    width: 395px;
    height: 175px;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid black;
    float: left;
    margin-right: 10px;
}

.home-header-vid {
    width: 395px;
    height: 175px;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid black;
}

.home-header-text-top {
  border: 1px solid black;
  padding: 1.5em;
}

.home-slideshow {
    display: block;
    margin: 0 auto;
    width: 350px;
    margin-bottom: 2em;
    margin-top: 2em;
}*/

/* --- Hhandi.js - Start --- */
/*.table-of-contents {
  display: inline-block;
  border: 2px solid #000;
  list-style: none;
  margin-left: 11em;
  float: left;
  margin-top: 0em;
  height: 15em;
  width: 12em;
}

.hhandi-top-text, .hhandi-about-author {
  border: 2px solid #000;
  margin-left: 23em;
  margin-right: 11em;
  height: 7em;
}

.hhandi-about-author {
  margin-top: 1em;
}

.hhandi-text-container {
  margin-left: 2em;
}

.hhandi-wrapper {
  margin-top: 2em;
  margin-bottom: 2em;
}*/

/* --- Episodes.js - Start --- */

/*.episodes-text-top {
  border: 2px solid #000;  
  margin-left: 11em;
  margin-right: 11em;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em;
}

.episodes-title {
  margin-left: 5.5em;
}

.episodes-vid {
  margin-left: 11em;
  float: left;
}

.episodes-des {
  border: 2px solid #000;
  margin-right: 11em;
  margin-left: 50em;
  height: 20em;
  margin-bottom: 2em; 
}

.episodes-header {
  margin-left: 11em;
  margin-right: 11em;
  margin-top: 2em;
  margin-bottom: 2em;
}*/

/* --- Episodes1.js - Start --- */
/*.episode-vid {
  margin-top: 2em;
  margin-left: 30em;
}

.episode-title {
  margin-top: 2em;
  margin-left: 19em;
}

.episode-text {
  margin-left:11em;
  margin:right:11em;
  margin-top: 2em;
  margin-bottom: 2em;
}*/

/* --- Hhandi1.js - Start --- */
/* --- Quotebox.js - Start --- */

.content {
  width: 15em;
  margin: 0 auto;
  margin-top: 2em;
}

.text-quotes blockquote {
    position: relative;
    margin: 0;
    padding: 8px 0 22px 0;
    text-indent: 36px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: #999;
}

.text-quotes blockquote:before,
.text-quotes blockquote:after {
    position: absolute;
    font-family: "Times New Roman", serif;
    font-size: 60px;
    line-height: 26px;
    color: #7ad;
}

.text-quotes blockquote:before {
    content: '\201C';   /* Left double quote */
    left: -36px;
    top: 8px;
}

.text-quotes blockquote:after {
    content: '\201D';     /* Right double quote */ 
    right: 0px;
    bottom: -13px;
}

/*.hhandi1-vid {
  margin-top: 2em;
  margin-left: 30em;
}

.hhandi1-text {
  margin-left:11em;
  margin-right:11em;
  margin-top: 2em;
  margin-bottom: 2em;
}*/


/* --- NAV - Start --- */

/*.top-nav {
  border-bottom: thick solid #ff0000;
}

.top-logo, .top-menu, .top-menu>li, .top-social-icons>li, .top-social-icons {
	display: inline-block;
}

.top-logo>h1 {
  margin-left: 5em;
  font-size: 2.15em;
}

.top-menu {
  margin-left: 12em;
}

.top-menu>li>a {
    text-decoration: none;
    font-size: 2em;
}

.top-social-icons {
	margin-left: 9em;
	margin-top: 3em;
}

.top-social-icons>li {
  margin-right: 1em;
}

.top-social-icons>li>a {
    color: black;
    text-decoration: none;
}

.top-slogan {
    margin-top: -1.3em;
    margin-left: 13em;
    font-size: 1.1em;
}

/* --- NAV - End --- */

/* --- HOME - Start --- */

/*.home-header-container {
  margin-top: 2em;
  margin-bottom: 2em;
}

.header-container {
    display: inline-block;
    width: 350px;
    margin-right: 0px;
}

.header-container img {
    width: 350px;
    margin-left: 11em;
}

.home-text-vid {
    display: inline-block;
    width: 800px;
    vertical-align: top;
    margin-left:13em;
}

.home-text-vid .paragraph {
    text-align: justify;
}

.home-header-text-vid {
    width: 395px;
    height: 175px;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid black;
    float: left;
    margin-right: 10px;
}

.home-header-vid {
    width: 395px;
    height: 175px;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid black;
}

.home-header-text-top {
  border: 1px solid black;
  padding: 1.5em;
}

.home-slideshow {
    display: block;
    margin: 0 auto;
    width: 350px;
    margin-bottom: 2em;
    margin-top: 2em;
}
*/
/* --- HOME - End --- */

/* --- Hhandi - Start --- */

/*.table-of-contents {
  display: inline-block;
  border: 2px solid #000;
  list-style: none;
  margin-left: 11em;
  float: left;
  margin-top: 0em;
  height: 15em;
  width: 12em;
}

.hhandi-top-text, .hhandi-about-author {
  border: 2px solid #000;
  margin-left: 23em;
  margin-right: 11em;
  height: 7em;
}

.hhandi-about-author {
  margin-top: 1em;
}

.hhandi-text-container {
  margin-left: 2em;
}

.hhandi-wrapper {
  margin-top: 2em;
  margin-bottom: 2em;
}
*/
/* --- Ind. Hhandi articles - Start --- */

/*.content {
  width: 230px;
  margin: 20px 0 40px 20px;
}

.text-quotes blockquote {
    position: relative;
    margin: 0;
    padding: 8px 0 22px 0;
    text-indent: 36px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: #999;
}

.text-quotes blockquote:before,
.text-quotes blockquote:after {
    position: absolute;
    font-family: "Times New Roman", serif;
    font-size: 60px;
    line-height: 26px;
    color: #7ad;
}

.text-quotes blockquote:before {
    content: '\201C';   /* Left double quote */
    /*left: -36px;
    top: 8px;
}
*/
/*.text-quotes blockquote:after {
    content: '\201D';    Right double quote 
    right: 0px;
    bottom: -13px;
}
*/

/*.caption {
  width:350px;
}*/

/* --- Ind. Hhandi articles - End --- */

/* --- Hhandi - End --- */

/* --- Episodes - Start --- */

/*.episodes-text-top {
  border: 2px solid #000;  
  margin-left: 11em;
  margin-right: 11em;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em;
}

.episodes-title {
  margin-left: 5.5em;
}

.episodes-vid {
  margin-left: 11em;
  float: left;
}

.episodes-des {
  border: 2px solid #000;
  margin-right: 11em;
  margin-left: 50em;
  height: 20em;
  margin-bottom: 2em; 
}
*/
/* --- Ind. Episodes vids - Start --- */

/* --- Ind. Episodes vids - End --- */

/* --- Episodes - End --- */

/* --- FOOTER - Start --- */

/*.bottom-bar {
  background: #191919;
  color: #fff;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  position:relative;
  text-align: center;
  font-size: .8em;
  text-transform: uppercase;
  background: #000;
  padding: 15px 0;
}
*/
/* --- FOOTER - End --- */  